*{
    margin: 0;
    padding: 0;

}

.selector-for-some-widget {
    box-sizing: content-box;
  }


/* NAVEGAÇÃO */

a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: #5B9CF0;
    padding-inline: 16px;
    position:relative;
    z-index: 1;
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-bottom: 0px;
}

.nav-list a{
    font-size: 21px;
    color: white;
    padding-block: 16px;
    text-decoration: none;
}

.hamburger{
    display: none;
    border:  none;
    background: none;
    border-top: 3px solid white ;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/* fundo */

html {
    background-color: #fff6e4;
}
/* carrossel */
#carrossel {
    position: relative;
    z-index: 0;
    background-color: #fbcfdb;
}
#carouselExampleIndicators{
    width: 1000px;
    margin: 0 auto;
}

.d-block {
    height: 500px;
    min-width: 1000px;
    margin: 0 auto;
}

/* MEDIA */

@media (max-width: 750px){
    .hamburger{
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 30vh;
        background: #5B9CF0;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s; 
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s; 
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s; 
    }
    
    /* estilos ativos */

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    } 
}